section{
    width: 80%;
    height: fit-content;
   /* background-color: #A08E8E;*/
    margin: auto;
}

.titulo{
    padding-top: 50px;
    text-align: center;
}

#prt{
    width: 100%;
    height: fit-content;
    /*background-color: #000000;*/
}

.show_infos {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}
.show_infos h1 {
    width: 80%;
    margin: 0;
}
.show_infos p {
    width: 95%;
    margin: 10px auto 10px auto;
}
.show_infos a {
    color: cadetblue;
}

.fml{
    width: 700px;
    height: fit-content;
    border: 1px solid black;
    /*background-color:#000000;*/
    padding-bottom: 20px;
    margin: 50px auto 25px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 2px 2px 3px crimson;
}

form{
    display: block;
    margin: auto;
    font-size: 18px;
}

.contact_box {
    display: block;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 450px 200px;
}

input{
    height:30px;
}

.file_box {
    margin: 40px auto 20px auto;
}

.msg_box {
    display: block;
    width: fit-content;
    margin: auto;
}

.fml #btn {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    padding: 3px;
}

#nome{    
    position: relative;
    right: 182px;
    bottom: 18px;
    margin-top: 15px;
}

#email{
    position: relative;
    right: 182px;
    bottom: 18px;
    margin-top: 15px;
}

#mensagem{
    padding: 8px 0px 0px 2px;
    margin-top: 4px;
}


@media screen and (min-width: 320px) and (max-width: 640px){
    body{
        width: 700px;
        margin-left: -30px;
    }

    header, footer{
        width: 100%;
        border: none;
    }
    
    .fml{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .show_infos h1, .show_infos h3{
        margin: 0px;
        padding-top: 20px;
    }

    .contact_box{
        display: grid;
        grid-template-columns: 350px 200px;    
    }

    .msg_box, #arq{
        font-size: 18px;
    }

    #nome{    
        position: relative;
        right: 132px;
        bottom: 18px;
        margin-top: 15px;
    }

    #email{
        position: relative;
        right: 132px;
        bottom: 18px;
        margin-top: 15px;
    }
    
}

@media screen and (min-width: 641px) and (max-width: 1024px){
    header{
        width: 100%;
    }
    footer{
        width: 100%;
    }

    .fml{
        margin-top: 40px;
        margin-left: 64x;
        margin-right: 64px;
        width: 512px;
    }

    h1, h3{
        margin: 0px;
        padding-top: 20px;
    }

    .contact_box{
        display: grid;
        grid-template-columns: 280px 200px;    
    }

    #nome{    
        position: relative;
        right: 97px;
        bottom: 18px;
        margin-top: 15px;
    }

    #email{
        position: relative;
        right: 97px;
        bottom: 18px;
        margin-top: 15px;
    }
}

@media screen and (min-width: 1025px){
    header, footer{
        margin: auto;
        border: none;
    }

    .show_infos h1, .show_infos h3{
        margin: 0px;
        padding-top: 10px;
    }
}