

label[for="btn_menu"]{
    padding: 5px;
    text-align: center;
    font-size: 45px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

#btn_menu{
    display: none;
}

label[for="btn_menu"]{
    display: none;
}


@media screen and (min-width: 320px) and (max-width: 640px){

    label[for="btn_menu"]{
        display: block;
        width: 20%;
    }

    #btn_menu:checked ~ .menu{
        margin-left: 0;
    }


    .menu{
        margin-left: -100%;
        transition: .4s;
    }

    main{
        margin-top: 300px;
    }

    .logo{
        display: none;
    }

    .logo1{
        display: inline-block;
        width: 90%;
        text-align: right;
        position: absolute;
        margin-top: 30px;
    }


    .menu .title{
        display: none;
    }

    nav{
        width: 200px;
        height: 280px;
        background-color: black;
        display: block;
    }

    nav .lists, nav .lists2{
        display: block;
        margin: 0;
    }

    nav .lists{
        margin-top: 40px;
    }

    nav ul{
        width: 180px;
    }

    nav ul li{
        padding: 20px;
    }

    
   
}

